[submodule "colors"]
	path = colors
	url = git@github.com:stephencottontail/alabaster.vim
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim
[submodule "inline-edit.vim"]
	path = inline-edit.vim
	url = git@github.com:AndrewRadev/inline_edit.vim
[submodule "vim-jsx-pretty"]
	path = vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
