[submodule "colors"]
	path = colors
	url = git@github.com:stephencottontail/alabaster.vim
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim
[submodule "gutentags.vim"]
	path = gutentags.vim
	url = git@github.com:ludovicchabant/vim-gutentags.git
